*{
    /*background-image: url("tela-gatos.jpg");*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url("tela-gatos.jpg");
}
.circulo{
    background-color: purple;
    width: 60px;
    height: 60px;
    display: inline-block;
    /*margin:auto;*/
    border-radius:100px;
    /*position: relative*/
    overflow: hidden;
    text-align: center;
}
#theCat{
    /*position: absolute;*/
    z-index: 100;
    height:40px;
    width:40px;
    margin-top: 10px;
}
.encabezado {
    width: 100%;
    border: 0px;
    margin-top: 0px;
    background-color: purple;
    
}
h1 {
    text-align: center;
    color: lawngreen;
}
#tabla{
    /*margin: 0 auto;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /*background-color:#651923;*/
}