*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.circulo{
    background-color: purple;
    padding: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    /*margin:auto;*/
    border-radius:100px;
}